{% extends 'sample.html' %}
{% block title %}viewNoticee{% endblock %}
{% block body %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Notices</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'notice' %}">ADD NOTICES <span class="sr-only">(current)</span></a>
      </li>


    </ul>

  </div>
</nav>
{% if par %}
{{ par|safe }}
{% endif %}
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Notices</th>
      <th scope="col">Date</th>
      <th scope="col">Modify</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

  {% for i in param %}

    <tr>
      <form action="{% url 'list_notice' %}" method=post>{% csrf_token %}
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{i.notice}}</td>
      <td>{{i.Date}}</td>
        <td><a href="{% url 'list_notice' %}"><button type="submit" value ="1{{i.id}}" name="_edit" class="btn btn-primary" >Edit</button></a></td>
        <td><a href="{% url 'list_notice' %}"><button  type="submit" value ="2{{i.id}}" name="_edit" class="btn btn-danger">Delete</button></a></td>
     </form></tr>
  {% endfor %}
   </tbody>
</table>

</div>


{% endblock %}
